name: Swift Build

on:
  push:
    branches-ignore:
      - 'dependabot/*'
  pull_request_target:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest-xlarge

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.0'
      - name: Get swift version
        run: swift --version
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
